@page
@model MinutAI.web.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form method="post">
    <div>
        <label>Email</label><br />
        <input asp-for="Email" />
        <span style="color:red" asp-validation-for="Email"></span>
    </div>

    <br />

    <div>
        <label>Password</label><br />
        <input asp-for="Password" type="password" />
        <span style="color:red" asp-validation-for="Password"></span>
    </div>

    <br />

    <button type="submit">Login</button>
</form>

@if (Model.ErrorMessage != null)
{
<p style="color:red"><b>@Model.ErrorMessage</b></p>
}

<p>New here? <a asp-page="/Account/Register">Create an account</a></p>